// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Jobly
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            a(href="https://electric-moon.surge.sh/" target="_blank")
                                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/jobly.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Jobly is a job-board platform where users can browse jobs by company, by all available jobs, or use a search engine to browse companies/jobs based on user input.
                                br
                                br
                                | Stack:
                                br
                                | React / Javascript Front-End
                                br
                                | Express / Javascript Backend-End using raw SQL querries on a PostgreSQL DB
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window