// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Warbler
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            a(href="https://warbler-18df9ff4a9b9.herokuapp.com/" target="_blank")
                                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/warblerprofile.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Warbler is a Twit-- "X" type social app that allows users to create personal profiles, message other users, and follow other users' posts.
                                br
                                br
                                | Stack:
                                br
                                | Jinja / Python Front-End
                                br
                                | Flask / Python Backend-End using SQLAlchemy on a PostgreSQL DB
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window